<div style="background-color: aliceblue;height: 100vh;padding: 0px;margin: 0 0;">

  <div style="padding: 20px;display: flex;justify-content: center;">
    <plotly-plot [data]="chartData" [layout]="chartLayout"></plotly-plot>
  </div>

  <div style="padding: 20px;display: flex;justify-content: center;">
    <label for="forecastDate">Enter Date: </label>
    <input type="date" id="forecastDate" value="26-12-2019" #dateInput />
    <button (click)="updateRowDataByDate(dateInput.value)">Submit</button>
  </div>

  <ag-grid-angular 
    class = "ag-theme-alpine-dark"
    style="height: 100px;
    width:1042px;
    display: grid;
    padding: 10px;
    background-color: #999;
    background: #999;
    display: block;
    justify-self: center;"
    [rowData] = "rowData"
    [columnDefs] = "colDefs"
    >
  </ag-grid-angular>
  
 </div>